/*Index.html*/


body{
   /*background-color:#2980b9;*/
   background-color:#2ecc71;
}



#header{
   /* background-color:#2980b9;*/
    text-align:center;
}

#firstBtn{
    width:60%;
    margin: auto;
    background-color:#c0392b;
    border-color:#c0392b;
}

img{
    width:75%;
    height:auto;
    
}



